[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/browse-kill-ring"]
	path = site-lisp/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring.git
[submodule "site-lisp/sass-mode"]
	path = site-lisp/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "site-lisp/jshint-mode"]
	path = site-lisp/jshint-mode
	url = git://github.com/daleharvey/jshint-mode.git
[submodule "site-lisp/pi-php-mode"]
	path = site-lisp/pi-php-mode
	url = https://github.com/pivaldi/pi-php-mode.git
[submodule "site-lisp/git-submodule/yasnippet-go"]
	path = site-lisp/git-submodule/yasnippet-go
	url = git@github.com:pivaldi/yasnippet-go.git
[submodule "site-lisp/go-eldoc"]
	path = site-lisp/go-eldoc
	url = https://github.com/syohex/emacs-go-eldoc.git
[submodule "site-lisp/go-mode"]
	path = site-lisp/go-mode
	url = https://github.com/dominikh/go-mode.el.git
