*.elc
*.log
*.status
php-doc
.ido.last
.history-*
.places-*
.recentf-*
ac-comphist.dat
var/*
!var/empty
auto-save-list/
ede-projects.el
srecode-map.el
tramp
.bm-repository
etc/pi-customize.el
user-post-init.el
user-pre-init.el
