[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
