[submodule "site-lisp/git-submodule/yasnippet-go"]
	path = site-lisp/git-submodule/yasnippet-go
	url = https://github.com/pivaldi/yasnippet-go.git
[submodule "site-lisp/go-errcheck"]
	path = site-lisp/go-errcheck
	url = https://github.com/dominikh/go-errcheck.el.git
[submodule "site-lisp/php-cs-fixer"]
	path = site-lisp/php-cs-fixer
	url = https://github.com/OVYA/php-cs-fixer.git
